spring:
  application:
    name: energy-dashboard

  datasource:
    url: jdbc:h2:mem:eco pulse
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

weather:
  api:
    key: 9804e5a8dc1bd0df10ab2509e5b03dc7
    url: https://api.openweathermap.org/data/3.0/onecall?lat={lat}&lon={lon}&exclude={part}&appid={API key}
    cache-duration-minutes: 30
